[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
mysqlclient = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
pillow = "*"
djangorestframework = "*"
django-redis = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
